select {
    background-color: brown;
    color: blueviolet;
}

.busqueda {
    display: flex;
    justify-content: space-between;
}

.busqueda-gen-select {
    display: flex;
    flex-basis: calc(70% - 1rem);
}

.busqueda-gen-select select {
    background-color: lightskyblue;
}

.busqueda-especifica {
    flex-basis: calc(30% - 1rem);
}

.busqueda-especifica button {
    background-color: darkcyan;
}

.busqueda-especifica input {
    border-width: 2px;
    border-color: darkcyan;
}

.listas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columna-lista {
    flex-basis: calc(50% - 1rem);
}

.datos-alumno {
    display: flex;
    justify-content: space-between;
}

.info-alumno {
    flex-basis: calc(50% - 1rem);
}

.botones_info_alumnos {
    flex-basis: calc(20% - 1rem);
    margin-right: 20rem;
    margin-top: 7rem;
}

.botones_info_alumnos button {
    border-radius: 2rem;
}

.alinear-foto {
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    margin-left: 4rem;
}